<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="lavender">
<p>

{% load static %} <img src="{% static 'images/h1.webp'%}" alt="Image not found"> <br>

    <br>
    * A hostel management system is software developed for managing various activities in the hostel.<br>
    *  It manages activities including the student information, room information, mess bills, room allocation details, fee details and tracking of the number of students and availability of students.<br>


    * Our Hostel consists of all the facilities,including wifi,AC/Non Ac room,washing machines etc.<br>


    * All the facilities are available 24/7. In respect to the health of the student.<br>
</p>

<p>
 {% load static %}   <img src="{% static 'images/image.jpg'%}" alt ="Image Not Found"> <br>
    <br>

 * Typically, a hostel features a large room with separate beds, a shared bathroom, and a communal kitchen <br>
 *  Some hostels have private rooms, but the lower-cost ones generally offer bunk beds.<br>
 *  Hostels originated in Europe, but they've grown in popularity and you can find them all over the world. <br>
    <br>
</p>
</body>
</html>