<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="lavender">
<h1> DELUXE ROOM </h1>
<p> A DELUXE ROOM CONSISTS OF WI-FI, T.V, A.C, STUDY-TABLE, BED, CUPBOARDS. </p>
{% load static %} <img src="{% static 'images/deluxe.jpeg'%}" height=250px,width=200px alt="Image not found"> <br>

<h2> ULTRA - DELUXE ROOM </h2>
<p> A ULTRA-DELUXE ROOM CONSISTS OF WI-FI, T.V, A.C, REFRIGIRATOR, WASHING MACHINE, STUDY-TABLE, BED, CUPBOARDS.</p>
 <img src="{% static 'images/super-deluxe-room.jpg'%}" height="250px",width="200px" alt="Image not found"> <br>

<h3> NORMAL ROOM </h3>
<p> A NORMAL CONSISTS OF WI-FI, STUDY-TABLE, BED, CUPBOARDS. </p>
<img src="{%static 'images/normal room.jpeg'%}" height="300px",width="300px" alt="Image not found"> <br>

</body>
</html>

