<!DOCTYPE html>
<html lang="en">
<head>

    <link href="../static/images/image1.jpg" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="../static/images/image.jpg" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<h1>ROOMS</h1>
<div class="card" style="width: 18rem;">
  <img src="../static/images/image1.jpg"    length="500" breadth="500">
  <div class="Room Type">
    <h5 class="Room">Room Allocation</h5>
    <p class="card-text">Rooms are clean and tidy
        cost:- RS 6000<br>
        Time:- A.C/ NON A.C
    </p>
    <a class="nav-link" href="/RR">SERVICES</a>
  </div>
</div>
<!--<div class="card" style="width: 18rem;">-->
<!--  <img src="../static/images/image.jpg"    length="500" breadth="500">-->
<!--  <div class="Room Type">-->
<!--    <h5 class="Room">Room Allocation</h5>-->
<!--    <p class="card-text">Rooms are clean and tidy-->
<!--        cost:- RS 10000<br>-->
<!--        Type:- A.C/NON A.C-->
<!--    </p>-->
<!--    <a class="nav-link" href="/RR">SERVICES</a>-->
<!--  </div>-->
    <hr>
</div>
<div class="card" style="width: 18rem;">
  <img src="../static/images/image1.jpg"    length="500" breadth="500">
  <div class="Room Type">
    <h5 class="Room">Room Allocation</h5>
    <p class="card-text">Room are clean and tidy
        cost:- RS 6000<br>
        Type:- AC/NON AC<br>

    </p>
    <a class="nav-link" href="/RR">SERVICES</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../static/images/image.jpg"    length="500" breadth="500">
  <div class="Room Tpye">
    <h5 class="Room">Room Allocation</h5>
    <p class="card-text">Room are clean and tidy
        cost:- RS 6000<br>
        Type:- AC/NON AC<br>

    </p>
    <a class="nav-link" href="/RR">SERVICES</a>
  </div>
</div>
</body>
</html>